* {
  box-sizing: border-box;
  font-family: "Arket Sans", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
}

body {
  margin: 0;

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.notActive {
  display: none;
}

.active {
  display: block;
}

.content-section {

  .textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    .header {
      display: flex;
      align-items: baseline;
      gap: 10px;

      span {
        text-transform: uppercase;
        font-weight: 400;
      }

      h2 {
        font-size: 22px;
      }

      
    }

    .content {
      display: flex;
      justify-content: center;
      max-width: 700px;
      text-align: justify;

      p {
        margin: 0;
      }

      .readMore {

        .readMoreButton {
          display: inline;
          border: none;
          background-color: #fff;
          cursor: pointer;
          text-decoration: underline;
          padding: 0;
        }

        @media (max-width: 768px) {
         padding: 0 5%;
        }
      }

      .readLess {
        display: none;

        .readLessButton {
          display: inline;
          border: none;
          background-color: #fff;
          cursor: pointer;
          text-decoration: underline;
          padding: 0;
        }
      }
    }
  }

  .ImageBlocksWrapper {
    display: flex;
    gap: 5px;
    width: 75%;
    margin: 0 auto;

    .image-container {
      width: 100%;
      
      img {
        width: 100%;
      }
      
      a {
        position: relative;
        text-decoration: none;
        &:hover {
          .caption {
            color: grey;
          }
        }
      }

      .caption {
        padding: 5px;
        background-color: #fff;
        position: absolute;
        font-size: 10px;
        color: black;
        bottom: 10px;
        left: 8px;
      }


      .text-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

        h3 {
          margin: 10px 0;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-align: center;
          line-height: 20px;
        }
        
        p {
          font-size: 13px;
          line-height: 20px;
          text-align: justify;
        }
      }
    }

    @media (max-width: 1025px) {
      width: 85%;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;

      .image-container {
        width: 49%;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 630px) {
      display: inline-block;
      width: 100%;
      padding: 0 15px;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      
      .image-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 45px;

        .text-block {
          white-space: normal;
        }
      }
    }
  }
}

