* {
  box-sizing: border-box;
  font-family: "Arket Sans", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
}

body {
  margin: 0;
}
body h2 {
  margin: 0;
}
body h3 {
  margin: 0;
}
body p {
  margin: 0;
}

.notActive {
  display: none;
}

.active {
  display: block;
}

.content-section {
  margin-bottom: 50px;
}
.content-section .textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.content-section .textBox .header {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.content-section .textBox .header span {
  text-transform: uppercase;
  font-weight: 400;
}
.content-section .textBox .header h2 {
  font-size: 22px;
}
.content-section .textBox .content {
  display: flex;
  justify-content: center;
  max-width: 700px;
  text-align: justify;
}
.content-section .textBox .content p {
  margin: 0;
}
.content-section .textBox .content .readMore .readMoreButton {
  display: inline;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
@media (max-width: 768px) {
  .content-section .textBox .content .readMore {
    padding: 0 5%;
  }
}
.content-section .textBox .content .readLess {
  display: none;
}
.content-section .textBox .content .readLess .readLessButton {
  display: inline;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
.content-section .ImageBlocksWrapper {
  display: flex;
  gap: 5px;
  width: 75%;
  margin: 0 auto;
}
.content-section .ImageBlocksWrapper .image-container {
  width: 100%;
}
.content-section .ImageBlocksWrapper .image-container img {
  width: 100%;
}
.content-section .ImageBlocksWrapper .image-container a {
  position: relative;
  text-decoration: none;
}
.content-section .ImageBlocksWrapper .image-container a:hover .caption {
  color: grey;
}
.content-section .ImageBlocksWrapper .image-container .caption {
  padding: 5px;
  background-color: #fff;
  position: absolute;
  font-size: 10px;
  color: black;
  bottom: 10px;
  left: 8px;
}
.content-section .ImageBlocksWrapper .image-container .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.content-section .ImageBlocksWrapper .image-container .text-block h3 {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  line-height: 20px;
}
.content-section .ImageBlocksWrapper .image-container .text-block p {
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}
@media (max-width: 1025px) {
  .content-section .ImageBlocksWrapper {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .content-section .ImageBlocksWrapper {
    flex-wrap: wrap;
  }
  .content-section .ImageBlocksWrapper .image-container {
    width: 49%;
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .content-section .ImageBlocksWrapper {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .content-section .ImageBlocksWrapper .image-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
  }
  .content-section .ImageBlocksWrapper .image-container .text-block {
    white-space: normal;
  }
}/*# sourceMappingURL=contentsectionStyles.css.map */