* {
  box-sizing: border-box;
}

body {
  font-family: "Arket Sans", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  padding: 50px;
  margin-top: 60px;
  width: 100%;
  box-shadow: inset 0px 5px 30px rgba(0, 0, 0, 0.2);

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 10px 0;

    .countryIcon {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        border-radius: 4px;
      }
    }

    li a {
      font-size: 14px;
      line-height: 1.3em;
      font-weight: 400;
      text-decoration: none;
      color: black;

      &:hover {
        color: grey;
      }
    }
  }

  @media (max-width: 770px) {
    .topList {
      border-top: 1px solid black;
      padding-top: 20px;
    }

    .bottomList {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 600px) {
    align-items: start;

    .topList {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
      flex-direction: column;
      width: 100%;
    }

    .bottomList {
      flex-direction: column;
      width: 100%;
    }
  }
}
