body {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body h2, h3, h4, h5, p {
  margin: 0;
}


/* header section */
header {
  position: relative;
}

.logo {
  font-family: 'Arket Sans SC Mono';
  /* font-size: 12px; */
  height: 16px;
  margin-bottom: 3px;
}
/* Add  background color to the top navigation */
.topnav {  
  font-size: smaller;
  margin-right: 14px;
  background-color: #fdfafa;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Arket Sans SC',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,Sans-Serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .05px;
  transition: margin-top .5s ease;
  align-items: flex-end;
}

#navbarNavDropdown {
  justify-content: space-between;
}

.icons-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 6px;
  align-items: flex-end;
}
/* Change the color of links on hover */
.navbar-nav a:hover {
  background-color: black;
  color: white;
  padding: 0 6px;
}

.logo a {
  height: 17px;
  display: block;
}
.logo a:hover {
  background-color: #fdfafa;
  color: rgb(129, 126, 126);
}
.a-paragraph a {
  color:#000;
  text-decoration:none;
}
.a-paragraph a:visited {
  text-decoration:none;
}
.a-paragraph a:hover {
  color:rgb(139, 136, 136);
  text-decoration:none;
}

.secondary-navigation  a {
  padding: 0px;
}
.secondary-navigation a:hover {
  color:rgb(139, 136, 136);
}
.secondary-navigation, .navIcons a.split {
  float: right;
}
/* The container <div> - needed to position the dropdown content */
.dropdown { 
  display: inline-block;
  position: absolute;
  }
  
  /* Style the dropdown button/link */
.dropbtn {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
} 
 .Question-container {
  width: 32.6%;
  height: 115px;
}

.Question-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.Question-container:hover {
  .text-q {
    background-color: black;
    color: white;
  }
}

/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
  display: none;
  z-index: 1;
  background-color: #fff;
  justify-content: center;
  position: fixed;
  padding: 10px 15px;
  text-align: center;
  width: 500px;
  height: 300px;
  right: 75px;
  top: 14%;
  flex-wrap: wrap;
} 

.a-image {
  height: 90px;
  width: 90px;
  margin-top: 0px;
}

.text-q {
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0px;
  text-align: left;
  font-size: 14px;
  padding: 5px;
}

.show {display: block;}

.navIcons {
  font-family: 'Arket Sans SC Mono';
  font-size: 12px;
  height: 25px;
}

.topnav .navIcons {
  font-size: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navTop .nav-item {
  font-family: 'Arket Sans SC',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,Sans-Serif;
  font-weight: 200;
  font-size: 12px;
  padding: 0 6px;
  letter-spacing: .05px;
}



/* header section */

/* main section */

.image-container {
  position: relative;
  display: flex;
}

.image-container img {
  width: 50%;
  min-height: 55vh;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 25%;
  left: 1%;

  transform: translateX(-1%);

  width: 100%;
  text-align: center;
}

.text-overlay div {
  margin-top: 10px;
  text-align: center;
}

.heading-cap,
.heading-value {
  font-family: "Arket Sans SC";
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}
.shop-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: "Arket Sans SC", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.shop-button:hover {
  color: gray;
}

.containerDiv {
  display: flex;
  flex-direction: column;
}

.card-box {
  display: flex;
}

.card-image {
  display: flex;
  align-items: end;
  justify-content: center;
  text-decoration: none;
  width: 25%;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image button {
  padding: 15px 50px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* main section */

/* content section */

.content-section {
  margin-bottom: 50px;
}

.content-section .textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 0 20px;
}

.content-section .textBox .header {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.content-section .textBox .header span {
  text-transform: uppercase;
  font-weight: 400;
}

.content-section .textBox .header h2 {
  font-size: 22px;
  font-weight: 400;
}

.content-section .textBox .content {
  display: flex;
  justify-content: center;
  max-width: 700px;
  text-align: justify;
}

.content-section .textBox .content p {
  margin: 0;
}

.content-section .textBox .content .shortText .readMoreButton {
  display: inline;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.content-section .textBox .content .longText {
  display: none;
}

.content-section .textBox .content .longText .readLessButton {
  display: inline;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.content-section .ImageBlocksWrapper {
  display: flex;
  gap: 5px;
  width: 75%;
  margin: 0 auto;
}

.content-section .ImageBlocksWrapper .image-box {
  width: 100%;
}

.content-section .ImageBlocksWrapper .image-box img {
  width: 100%;
  vertical-align: baseline;
}

.content-section .ImageBlocksWrapper .image-box a {
  position: relative;
  text-decoration: none;
}

.content-section .ImageBlocksWrapper .image-box a:hover .captionDiv {
  color: grey;
}

.content-section .ImageBlocksWrapper .image-box .captionDiv {
  padding: 5px;
  background-color: #fff;
  position: absolute;
  font-size: 10px;
  color: black;
  bottom: 10px;
  left: 8px;
  font-family: "Arket Sans", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.content-section .ImageBlocksWrapper .image-box .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.content-section .ImageBlocksWrapper .image-box .text-block h3 {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  line-height: 20px;
}

.content-section .ImageBlocksWrapper .image-box .text-block p {
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}

/* content section */

/* table section */

.d-width {
  width: 90%;
  max-width: 420px;
  margin: 10px auto 0;
  text-align: center;
}
.d-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 10px;
}
.d-image-container {
  width: 32.6%;
  height: 90px;

  border: 0.1px;
  border-style: inset;
}
.d-image-listing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.d-text-field {
  margin-bottom: 0;
}
.d-headline {
  text-align: center;
  margin: 20px 30px 20px 30px;
}

.d-headline a {
  text-decoration: none;
  color: #212529;
}

.d-headline a:hover {
  color: gray;
}

.d-text-container {
  text-align: left;
  font-size: 14px;
}

/* table section */

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  padding: 50px;
  margin-top: 60px;
  box-shadow: inset 0px 5px 30px rgba(0, 0, 0, 0.2);
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 10px 0;
}

.footer ul .countryIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer ul .countryIcon img {
  border-radius: 4px;
}

.footer ul li a {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.footer ul li a:hover {
  color: grey;
}

/* footer */


/* Cookie modal */

.cookie-background {
  background: rgba(0,0,0,0.5);
  z-index: 2147483646;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.cookie-container {
  display: none;
}

.notActive {
  animation: FadeOut 300ms forwards;
}

.active {
  display: block;
  animation: FadeIn 300ms forwards;
}

@keyframes FadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.cookie-modal {
  position: fixed;
  margin: 0 auto;
  top: 5%;
  bottom: 10%;
  right: 0;
  left: 0;
  max-width: 600px;
  min-width: 575px;
  z-index: 2147483647;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px -3px #999;
  -moz-box-shadow: 0px 2px 10px -3px #999;
  box-shadow: 0px 2px 10px -3px #999;
  overflow-x: auto;
  overflow-y: scroll;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
}

.cookie-modal p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.cookie-modal::-webkit-scrollbar {
  width: 10px;
}

.cookie-modal::-webkit-scrollbar-track {
  background: #ffffff;
}

.cookie-modal::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 12px;
}

.cookie-modal::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

.closeModalBtn {
  align-self: flex-end;
  position: fixed;
  padding: 0;
  border: none;
  background-color: #ffffff;
  margin: 5px 5px 0px 0px;
  font-weight: bold;
  color: rgb(83, 83, 83);
}

.closeModalBtn:hover {
  color: rgb(148, 148, 148);
}

.cookie-content {
  padding: 40px 20px;
  text-align: justify;
}

.policy-text h2 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}

.policy-text a {
  color:#656565;
}

.cookieBtnBox {
  display: flex;
}

.acceptAllCookiesBtn {
  margin-top: 10px;
  padding: 12px 30px;
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  letter-spacing: .08em;
}

.acceptAllCookiesBtn:hover {
  background-color: gray;
}

.cookie-preferences h3 {
  margin: 30px 0 25px;
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.switch-box {
  width: 45px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
}

.switch-box input {
  width: 0px;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 9px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 50%;
}

input:checked ~ .slider {
  background-color:green;
}

input:checked ~ .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: white;
}

.pref-header-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.pref-header-box h4 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}

.pref-header-box p {
 color: green;
 text-transform: uppercase;
 font-size: 11px;
 letter-spacing: 1.4px;
 line-height: 14px;
}

.save-preference {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.savePreferenceBtn {
  margin-top: 10px;
  padding: 12px 30px;
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  letter-spacing: .08em;
}

.savePreferenceBtn:hover {
  background-color: gray;
}

.onlyRequiredBtn {
  padding: 10px 28px;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 20px;
  letter-spacing: .08em;
  border: 2px solid black;
}

.onlyRequiredBtn:hover {
  color: gray;
}

/* Cookie modal */


/* media rules */

@media (max-width: 1920px) {
  .card-image {
    height: 40em;
  }
}

@media (max-width: 1320px) {
  .card-image {
    height: 35em;
  }
}

@media (max-width: 1030px) {
  .navTop .nav-item {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .card-image {
    height: 25em;
  }

  .content-section .ImageBlocksWrapper {
    width: 85%;
  }
}

@media (max-width: 880px) {
  .card-image {
    height: 20em;
  }
}

@media (max-width: 768px) {
  .image-container img {
    width: 100%;
    min-height: 75vh;
  }

  .image-container img:nth-child(2) {
    display: none;
  }

  .card-box {
    flex-wrap: wrap;
  }

  .card-image {
    width: 50%;
    height: 35em;
  }

  .content-section .textBox .content .shortText {
    padding: 0 5%;
  }
  .content-section .textBox .content .longText {
    padding: 0 5%;
  }

  .content-section .ImageBlocksWrapper {
    flex-wrap: wrap;
  }
  .content-section .ImageBlocksWrapper .image-box {
    width: 49%;
    margin-bottom: 20px;
  }

  .footer .topList {
    border-top: 1px solid black;
    padding-top: 20px;
    align-items: start;
  }

  .footer .bottomList {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    align-items: start;
  }

}

@media (max-width: 630px) {
  .content-section .ImageBlocksWrapper {
    display: inline-block;
    width: 95%;
    padding: 0 15px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .content-section .ImageBlocksWrapper .image-box {
    display: inline-block;
    width: 95%;
    margin-bottom: 45px;
  }

  .content-section .ImageBlocksWrapper .image-box .text-block {
    white-space: normal;
  }

}

@media (max-width: 600px) {
  .card-image {
    height: 25em;
  }

  .footer {
    align-items: start;
  }

  .footer .topList {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer .bottomList {
    flex-direction: column;
    width: 100%;
  }

  .cookie-modal {
    min-width: 100%;
    height: 100%;
    top: 0;
  }

  .pref-header-box h4 {
    font-size: 19px;
   }
}

@media (max-width: 450px) {
  .card-image {
    height: 20em;
  }
}

@media (min-width: 992px) {
  .navLinks {
      font-size: 10px;
  }
}

@media (min-width: 1050px) {
  .navLinks {
      font-size: 11px;
  }
}

@media (min-width: 1200px) {
  .navLink {
    font-size: 12px;
  }

}


@media (min-width: 1220px) {
  .navLinks {
      font-size: 12px;
  }
}

@media (min-width: 1300px) {
  .navLinks {
      font-size: 13px;
  }
}

@media (min-width: 1450px) {
  .navLinks {
      font-size: 15px;
  }
}

@media (min-width: 1600px) {
  .navLinks {
      font-size: 16px;
  }
}


@media (min-width: 769px){
  .header {
    height: 56px;
    padding: 19px 19px 20px;
  }

  .header:after {
    height: 2px;
    left: 19px;
    right: 19px;
  }
}

@media (min-width: 401px){
  .header {
    background-color: #fff;
    box-shadow: 0 17px 32px transparent;
  }
}

